/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 23, 2019, 10:33:18 AM
    Author     : fran
*/
:root{--maincolor:#4db6ac;}

html {
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a { 
    cursor: pointer;
}

a.paginate_button{
    margin-left: 1rem !important;
}

input[readonly] {
    cursor: pointer !important;
    background-color: transparent !important;
}

.buttonVisite{
    color : white !important;
}

.cookiebar {
    display: block !important;
}

@media (min-width: 768px) {
    .cookiebar {
        display: flex !important;
    }
}

.full-height {
    min-height: 80vh;
}

.homepageNavbar{
    z-index: 800;
    width: 100% !important;

    background-color: transparent;
    transition: background .3s ease-out;
}

.pazienteNavbar{
    z-index: 800;
    background-color: var(--maincolor) !important;
    font-size: 1.4rem;
}

.profiloNavbar{
    width: 3rem;
    height: 3rem;
    background-size: cover !important;
    background-position: center !important;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 3px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.centeredNavbar{
    display:flex;
}

/* Immagine homepage */

.featuresImages {
    height: 11rem;
    width: 11rem;
}

.userHomeImage {
    height: 200px;
}
.featuresDesc{
    text-align: justify;
}

.vignette-radial:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0.8);
}

.top-margin{
    margin-top: 6em;
}


body{
    display:flex;
    flex-direction:column;
    min-height: 100vh !important;

}

.loghiPaziente{
    height: 3rem !important;
}

.immaginePaziente{
    width: 10rem;
    height: 14.5rem;
    background-size: cover !important;
    background-position: center !important;
}

.iconeImpostazioni{
    width: 1.5rem;
}

.tastoIndietro{
    float:left !important;
}


footer .it-footer-main{
    background-color: #2f3133 !important;
    min-height: 18vh;
}



.footerImage{
    height: 4rem;
}

.footerText {
    font-size: 1rem;
}

.select2{
    width: 100% !important;
}

tr[data-href]{
    cursor: pointer; 
}

.navbar .navbar-collapsable {
    z-index: 10;
}
.dropdown-menu {
    z-index: 11!important;
}

.date-success::after{
    background: #008758 !important;
}

.table-hover tr {
    cursor: pointer;
}

.date-danger::after{
    background: #d9364f !important;
}

/*
@media (max-width: 575px) {
    html {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 1.4rem !important;
    }
    p {
        font-size: 1.4rem !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 1.3rem !important;
    }
    p {
        font-size: 1.3rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1799px) {
    html {
        font-size: 1.2rem !important;
    }
    p {
        font-size: 1.3rem !important;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 1.1rem !important;
    }
    p {
        font-size: 1.2rem !important;
    }
} */


/*----------- IMAGE GALLERY ---------------*/


.avatar-clickable img {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
.avatar-clickable img:hover {
    opacity: 0.6;
    filter: alpha(opacity=30);
}

.upload-file-list .upload-file.success label {
    color: var(--main-bg-color);
}
.upload-file-list .upload-file label {
    margin: 0 0 0 12px;
    font-size: .889rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}



.gallery-item {   
    height: 80vh !important;
    position: relative;
}


.gallery-content{
    background: black;
}

.gallery-item img{

    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery-body {
    padding: 0 !important;
}
.gallery-header {
    padding: 12px 12px 0 !important;
}

.gallery-control-right{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  stroke-width='0.4' fill-opacity='0.8' stroke-opacity='0.8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.gallery-control-left{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  stroke-width='0.4' fill-opacity='0.8' stroke-opacity='0.8'  viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.gallery-close {
    color: white;
    font-size: 2em;
}
.gallery-close:hover {
    color: white;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.disabled {
    opacity: .5 !important;
    cursor: not-allowed !important;
}

