<footer class="it-footer">
    <div class="it-footer-main white-color pt-4 pb-5">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-2">
                        <div class="it-brand-wrapper">
                            <a href="/AziendaSanitaria/">
                                <img src="/AziendaSanitaria/images/logo/icon.png" class="icon" alt="">
                                <div class="it-brand-text">
                                    <h2 class="no_toc">Azienda Sanitaria</h2>
                                    <h3 class="no_toc d-none d-md-block">Servizi online</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-2">

                        <p class="text-uppercase font-weight-bold">Privacy</p>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li>
                                    <a href="/AziendaSanitaria/privacy">Informativa privacy</a>
                                </li>
                                <li>
                                    <a href="/AziendaSanitaria/cookies">Informativa cookies</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-2">
                        <p class="text-uppercase font-weight-bold">Informazioni</p>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li>
                                    <p class="mb-2">P. iva: 00340520220</p>

                                </li>
                                <li>
                                    <a href="https://her.is/2Et4WYJ">Via Sommarive 9, 38123 Povo (TN)</a>
                                </li>
                            </ul>

                        </div>
                    </div>
            </section>
        </div>
    </div>

</footer>
