<link rel="icon" href="/AziendaSanitaria/images/logo/icon.png">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/AziendaSanitaria/js/jquery-3.4.0.min.js"></script>

<script>window.__PUBLIC_PATH__ = '/AziendaSanitaria/fonts'</script>


<!-- CSS -->
<link rel="stylesheet" href="/AziendaSanitaria/css/bootstrap-italia.min.css">

<script src="/AziendaSanitaria/js/bootstrap-italia.bundle.min.js"></script>
<script src="/AziendaSanitaria/js/utils.js"></script>

<link rel="stylesheet" href="/AziendaSanitaria/css/utils.css">
<link rel="stylesheet" href="/AziendaSanitaria/css/animate.min.css">
<link rel="stylesheet" href="/AziendaSanitaria/css/select2-bootstrap4.min.css">

<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
